enable
configure terminal
no vlan 1
no enable secret
#
service password-encryption
enable password 0 ruijie@123
username admin password ruijie@123
enable service web-server all
webmaster level 0 username admin password ruijie@123
#
enable service ssh-server
ip ssh version 2
no enable service telnet-server
ip access-list standard 10
 10 permit 192.168.1.0 0.0.0.255
 30 deny any
 exit
line console 0
 exit
line vty 0 4
 session-timeout 300
 access-class 10 in
 login local
 exit
#
errdisable recovery interval 300
spanning-tree
rldp enable
lldp enable
ip dhcp snooping
#
clock timezone CST +8 0
ntp update-calendar
ntp master 8
ntp server 192.168.1.254
ip name-server 119.29.29.29
ip name-server 114.114.114.114
#
interface range g0/1-24
 switchport mode access
 switchport access vlan 1
 rldp port loop-detect shutdown-port
 exit
interface range g0/25-28
 switchport mode trunk
 switchport trunk allowed vlan all
 exit
interface range g0/29-30
 switchport mode trunk
 switchport trunk allowed vlan all
 spanning-tree bpdufilter enable
 medium-type filber
 exit
interface aggregateport 1
 switchport mode trunk
 switchport trunk allowed vlan all
 ip dhcp snooping trust
 description UpLink
 exit
interface range te0/31-32
 port-group 1
 description UpLink
#
hostname Ruijie-S5760C-BuMen-WeiZhi-1
interface vlan 1
 ip address 192.168.1.10 255.255.255.0
 ipv6 address fc00:192:168:1::10/64
 ipv6 enable
 no ipv6 nd suppress-ra
 exit
ip route 0.0.0.0 0.0.0.0 192.168.1.254
ipv6 route ::/0 fc00:192:168:1::1
snmp-server host 192.168.1.20 traps version 2c ruijie
snmp-server enable traps
language character-set UTF-8
